@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

:root {
  --fontetitulo: "Open Sans", sans-serif;
  --fonteparagrafo: "Quicksand", sans-serif;
}

body {
  background-color: #0091ff;
  background-attachment: fixed;
}

.container {
  background-color: white;
  width: 570px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2em;
  text-align: left;
  margin-bottom: 10px;
}

.container > p {
  font: normal 300 1em var(--fonteparagrafo);
  text-align: justify;
  text-indent: 20px;
  margin-bottom: 10px;
  line-height: 1.3em;
}

#tabelas {
  display: flex;
  justify-content: space-between;
}

#tabelas > div {
  width: 50%;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 7px 0px;
}

form {
  text-align: center;
  width: 100%;
  margin: 20px auto 10px auto;
}

form > p {
  margin-bottom: 10px;
  font: normal 400 1em var(--fonteparagrafo);
}

label {
  display: block;
  text-align: left;
  padding: 2px 0px;
}

input[type='text'] {
  display: block;
  width: 100%;
  border: none;
  height: 37px;
  padding: 4px 0px 4px 4px;
  outline: 1px solid #b4b4b4;
  border-radius: 1px;
}

input[type='text']:focus-within {
  outline: 1px solid #0091ff;
}

input[type='submit'] {
  width: 100%;
  padding: 10px 0px;
  border: none;
  background-color: #005da4;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font: normal 500 .9em var(--fontetitulo);
}

input[type='submit']:hover {
  background-color: #0091ff;
  transition-duration: .3s;
}

input[type='submit']:active {
  background-color: white;
  color: #005da4;
  transition-duration: 0s;
}

.paragrafo-resultado-verdadeiro {
  background-color: rgb(109, 255, 182);
  padding: 10px 20px;
}

.paragrafo-resultado-falso {
  background-color: rgb(255, 150, 150);
  padding: 10px 20px;
}